*{
    padding: 0;
}

.carouselContainer{
    width: 90vw; 
    margin: auto;
    border-radius: 2rem;
}

.carouselImage {
    width: 90vw; 
    display: block;
    border-radius: 2em;
}
  

@media screen and (max-width: 1200px) {
    .carouselContainer, .carouselImage {
        width: 90vw;
        border-radius: 1.8rem;
    }
}

@media screen and (max-width: 991.98px) {
    .carouselContainer {
        width: 95vw;
        border-radius: 1.5rem;
    }

    .carouselImage {
        border-radius: 1.5rem;
        margin: auto;
    }
}

@media screen and (max-width: 850px) {
    .carouselContainer {
        width: 90vw;
        border-radius: 1.2rem;
    }

    .carouselImage {
        width: 90vw;
        border-radius: 1.2rem;
        margin: auto;
    }
}
@media screen and (max-width: 770px) {
    .carouselContainer {
        width: 90vw;
        border-radius: 1rem;
        margin: auto;
    }
    .ImageContainer {
        width: 90%;
    }
    .carouselImage {
        width: 90vw;
        margin: auto;
        border-radius: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .carouselContainer {
        width: 90vw;
        border-radius: 0.8rem;
        margin: auto;
    }

    .carouselImage {
        width: 90vw;
        border-radius: 1rem;
        margin: auto;
    }
}