*{
    padding: 0;
}

.carouselContainer{
    height: 100%; 
    width: 90%; 
    margin: 4vh 11vh 12vh;
    /* background-color: rgba(244, 248, 248, 0.06); 
    border: 3px solid rgba(244, 248, 248, 0.06); */
    border-radius: 2rem;
    margin-top: 1rem;
}

.carouselImage {
    width: 100%;
    height: 100%; 
    display: block;
    border: solid rgba(244, 248, 248, 0.06);
    border-radius: 2rem;
}

@media screen and (max-width: 430px) {
   .carouselContainer{
        width: 80%;   
        height: 100%;
        margin: 2vh 7vh 9vh ;
        background: rgba(255, 249, 249, 0.06);
        border-radius: 39px;
   }
}
