.hamBtn {
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    float: right;
}

.list {
    height: 100vh;
    width: 100vw;
    position: fixed;
    /* left: 100vw; */
    transform: translateX(100vw);
    top: 60px;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 1;
    transition: transform 0.2s;
    border-collapse: collapse;
    padding-bottom: 10%;
    font-size: 30px;
}

.hamBtnContainer {
    width: 100vw;
}

.hamContainer {
    /* overflow-x: hidden; */
    /* height: 100vh; */
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0px;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.hamBtn.cross .bar:nth-child(1) {
  transform: rotate(-45deg) translate(-7px, 6px);
}

.hamBtn.cross .bar:nth-child(2) {
  opacity: 0;
}

.hamBtn.cross .bar:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -6px);
}

