@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

header {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 30vw;
    display: flex;
    align-items: center;
    column-gap: 7px;
    background: linear-gradient(270deg, #9BFFFF 9.26%, #3FFFFF 27.77%, #6BDBD8 48.19%, #2FBEBB 64.52%, #027498 83.12%, #036 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Viga', sans-serif;
    margin: 1rem;
}

.logo img {
    object-fit: contain;
    height: 8vh;
    aspect-ratio: 1;
}

nav {
    width: 70vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

nav ul {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul li a {
    color: var(--inactive);
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    font-weight: 400;
    transition: all 0.1;

}

a:hover {
    border-bottom: 2px solid var(--bordercolor);
    filter: drop-shadow(14px 17px 40px rgb(3, 226, 255));
}

a.active {
    color: var(--active);
    font-weight: 500;

}

@media screen and (max-width: 1000px) {
    .logo > img{
        position: absolute;
        width: 64px;
        height: 44px;
        left: 20px;
        top: 10px;
    }
    
    .img_text{
      margin-left: 5rem;
      font-size: 1.3rem;
    }

    .list{
        display: none;
    }
    .header {
        height: 65px;
    }
}

@media (max-width: 780px) {
    .logo {
        width: 50vw;
    }
    .img_text{
        margin-left: 4rem;
        font-size: 1.2rem;
    }
}

