.bgimage {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contianer {
  background-image: url("../Assets/Aboutbg.svg");
  height: 100vh;
  padding: 5rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  /* margin: 2rem 0 2rem 0; */
  gap: 2rem;
}

.h2 {
  color: white;
  /* position: absolute; */
   width: 20rem;
  /* height: 115px; */
  /* top: 220px; */
  font-size: 2.5rem;
  /* text-decoration: underline; */
  /* text-underline-offset: 0.3rem; */
}

.para {
  /* position: absolute; */
  width: 40rem;
  /* height: 180px; */
  /* left: 70px; */
  /* top: 370px;  */
  font-family: "Roboto";
  /* font-weight: 300; */
  font-size: 24px;
  line-height: 99.7%;
  display: flex;
  text-align: left;
  letter-spacing: 0.1em;
  word-spacing: 0.08rem;
  color: #ffffff;
}

@media screen and (max-width: 432px){
  .contianer{
    width: 40rem;
    height: 80vh;
    margin-top: -1.5rem;
  }
  
  .h2{
    font-size: 2rem;
    margin: -2.5rem 0 0 -2.5rem;
  }

  .para{
    width: 300px;
    font-size: 1.3rem;
    margin: 3rem 0 0 -1.5rem;
  }
}
