@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Roboto&family=Source+Serif+4:opsz,wght@8..60,400;8..60,500&family=Viga&display=swap');
@import url('https://fonts.cdnfonts.com/css/elnath');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&family=Sora:wght@100..800&display=swap');

:root {
    --bgcolor: rgb(0, 0, 0);
    --navbg: rgb(0, 0, 0);
    --maincardcolor: rgba(255, 255, 255, 0.15);
    --quotebg: rgba(0, 114, 114, 0.06);
    --quotecolor: #00FFFF;
    --cardcolor: rgba(244, 248, 248, 0.06);
    --active: rgba(255, 255, 255, 1);
    --inactive: rgba(255, 255, 255, 0.67);
    --primarytext: ;
    --secondarytext: rgb(255, 255, 255);
    --tertiarytext: rgba(255, 255, 255, 0.68);
    --svggradient: rgba(0, 138, 198, 1), rgba(0, 224, 255, 1), rgba(5, 85, 240, 1);
    --dropshadows: 4px 7px 100px 0px rgba(3, 225, 255, 0.25);
    --bordercolor: #00FFFF;
    --font:"Sora", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    height: 400vh;
    background-color: var(--bgcolor);
    overflow-x: hidden;
}

::-webkit-scrollbar{
    display: none;
    -webkit-appearance: none;
}

@media screen and (max-width: 432px){
    ::-webkit-scrollbar{
        display: none;
        -webkit-appearance: none;
    }
}